@background: #111;

@bottomBarHeight: 60px;
@rightColumnWidth: 450px;

@main:  #D23945;
@white: #e9eef2;
@gray:  #9fabb3;
@black: #111111;
@green: #0fdb00;
@red:   #c00c00;

@trackHeaderHeight: 110px;
@trackCoverHeight: 325px;
@trackControlsHeight: 44px;
@trackBarHeight: 3px;
@trackButtonsHeight: 118px;